<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Multiple Live Streaming</title>
        <style>.camera {margin-bottom: 5px}</style>
    </head>
    <body>
        <div class="container">
            <div class="camera">
                <img src="{{ url_for('video_feed', id='0') }}" width="100%">
            </div>
            <div class="camera">
                <img src="{{ url_for('video_feed', id='1') }}" width="100%">
            </div>
        </div>
    </body>
</html>
